@-webkit-keyframes zoomOutScale {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}


/* image animation */

@-webkit-keyframes revealBottom {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }
}

@keyframes revealBottom {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }
}


/* image animation end*/

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes width {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes width {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes splitChar {
    from {
        -webkit-transform: translateY(1.5em);
        transform: translateY(1.5em);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes splitChar {
    from {
        -webkit-transform: translateY(1.5em);
        transform: translateY(1.5em);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}